# **Conceptos básicos de Python**

### Asignación de variables, operaciones básicas, tipado dinámico

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
!python -V

Python 3.12.11

In [ ]:
# Asignación de valores a variables
nombre = "Andres"
edad = 24


# Imprimir los valores
print("Hola, me llamo", nombre, "tengo", edad, "años")

Hola, me llamo Andres tengo 30 años

In [ ]:
# Asignación básica
x = 10
nombre = "Ana"
pi = 3.1416

# Múltiples asignaciones en una línea
a, b, c = 1, 2, 3

# Asignar el mismo valor a varias variables
x = y = z = 0

In [ ]:
print("Asignación de variables:")
print("x:", x, "nombre:", nombre, "pi:", pi)
print("a:", a, "b:", b, "c:", c)
print("x, y, z:", x, y, z)
print("-" * 40)

### Operaciones básicas

In [ ]:
1 + 5

6

In [ ]:
1 - 5

-4

In [ ]:
5*2

10

In [ ]:
5**2

25

In [ ]:
1/3

0.3333333333333333

In [ ]:
2//5

0

In [ ]:
7%5

2

### Operadores booleanos

In [ ]:
variable_1 = True
variable_2 = True

In [ ]:
variable_1 == variable_2

True

In [ ]:
variable_1 is variable_2

False

In [ ]:
3 < 5

True

In [ ]:
3 > 5

False

In [ ]:
# Negacion
not variable_1

False

In [ ]:
variable_1 or variable_2

True

In [ ]:
variable_1 and variable_2

NameError: name 'variable_1' is not defined

In [ ]:
# Intercambio de valores entre variables
a = 5
b = 10

# Intercambiando sin variable temporal
a, b = b, a

print("a =", a)
print("b =", b)

a = 10
b = 5

In [ ]:
nombre = "Ana"
apellido = "Pérez"
nombre_completo = nombre + " " + apellido

print("Manejo de Strings:")
print("Nombre completo:", nombre_completo)
print("Repetición de string:", "Hola " * 3)
print("Primer carácter:", nombre[0])
print("Último carácter:", nombre[-1])
print("Slicing (1:3):", nombre[1:3])
print("Mayúsculas:", nombre.upper())
print("Minúsculas:", apellido.lower())
print("Formato título:", nombre_completo.title())
print("-" * 40)

Manejo de Strings:
Nombre completo: Ana Pérez
Repetición de string: Hola Hola Hola
Primer carácter: A
Último carácter: a
Slicing (1:3): na
Mayúsculas: ANA
Minúsculas: pérez
Formato título: Ana Pérez
----------------------------------------

In [ ]:
# Declarando diferentes tipos de variables
a = 10           # entero
b = 3.14         # flotante
c = "Hola"       # cadena
d = True         # booleano

# Mostrando tipos
print(type(a))
print(type(b))
print(type(c))
print(type(d))

In [ ]:
dato = 42
print("Tipado dinámico:")
print("Valor:", dato, "Tipo:", type(dato))

dato = "Ahora soy un string"
print("Valor:", dato, "Tipo:", type(dato))

dato = 3.14
print("Valor:", dato, "Tipo:", type(dato))
print("-" * 40)

Tipado dinámico:
Valor: 42 Tipo: <class 'int'>
Valor: Ahora soy un string Tipo: <class 'str'>
Valor: 3.14 Tipo: <class 'float'>
----------------------------------------

In [ ]:
# Conversión de tipos
a = "123"
a_entero = int(a)
resultado = a_entero + 10

print("Resultado:", resultado)

In [ ]:
valor = 10.5

print("Verificación de tipo con isinstance:")
if isinstance(valor, float):
    print("Es un número decimal")
elif isinstance(valor, int):
    print("Es un número entero")
else:
    print("Es otro tipo")

In [ ]:
a = 0.1 + 0.2
b = 0.3

print("a =", a)
print("b =", b)

# ¿Son iguales?
print("¿a == b?", a == b)

# Mostrar la diferencia exacta
print("Diferencia:", abs(a - b))

a = 0.30000000000000004
b = 0.3
¿a == b? False
Diferencia: 5.551115123125783e-17

In [ ]:
# Sumando un número muy pequeño muchas veces
small = 1e-10
total = 0.0

for _ in range(10_000_000):
    total += small

# Resultado esperado: 1.0 (aproximadamente)
print("Resultado esperado: 1.0")
print("Resultado real:    ", total)
print("Diferencia:", abs(1.0 - total))

Resultado esperado: 1.0
Resultado real:     0.0010000000001300626
Diferencia: 0.99899999999987

In [ ]:
# Ejemplo de cancelación numérica
a = 1e8
b = 1
c = a + b

# Luego restamos a
resultado = c - a

print("Debería ser 1:", resultado)

Debería ser 1: 1.0

In [ ]:
list_1 = [1,2,3]
list_2 = list([1,'a',3])
list_3 = ['Hello', True, 'Hola']

In [ ]:
# Crear una lista de frutas
frutas = ["manzana", "banana", "naranja", "uva"]

# Acceder a elementos por índice
print(frutas[0])  # manzana
print(frutas[2])  # naranja

In [ ]:
frutas[1] = "pera"
print(frutas)  # ['manzana', 'pera', 'naranja', 'uva']

In [ ]:
# Lista dentro de otra lista (anidada)
matriz = [[1, 2], [3, 4], [5, 6]]
print(matriz[1][0])  # 3

3

In [ ]:
persona = {
    "nombre": "Juan",
    "edad": 30,
    "ciudad": "Madrid"
}

print(persona)

In [ ]:
print(persona["nombre"])   # Accede al valor asociado a la clave 'nombre'

In [ ]:
print(persona.get("profesion", "No especificado"))

In [ ]:
persona["edad"] = 31
print(persona["edad"])

In [ ]:
persona["profesion"] = "Ingeniero"
print(persona)

In [ ]:
del persona["ciudad"]
print(persona)

In [ ]:
print(persona.keys())     # dict_keys(['nombre', 'edad', 'profesion'])
print(persona.values())

In [ ]:
calificaciones = {
    "Juan": [7, 8, 9],
    "Ana": [10, 9, 10]
}

print(calificaciones["Ana"])

In [ ]:
usuarios = {
    "andresb": {"nombre": "Andres", "carrera": 'matemáticas'},
    "ana45": {"nombre": "Ana", "carrera": 'biología'}
}

print(usuarios["ana45"]["carrera"])

biología

### Mutabilidad

In [ ]:
lista = [1, 2, 3]
print("Antes:", lista)

lista.append(4)
print("Después:", lista)

In [ ]:
tupla = (1, 2, 3)
tupla.append(4)  # Esto lanzaría un error

In [ ]:
# Intentar modificarla directamente también falla
tupla[0] = 10    # TypeError

In [ ]:
texto = "Hola"
texto[0] = "h"

In [ ]:
nuevo_texto = texto.lower()  # Crea una NUEVA cadena
print(nuevo_texto)
print(texto)

In [ ]:
x = [1, 2, 3]
print(id(x))   # ID antes
x.append(4)
print(id(x))

132795009848064
132795009848064

In [ ]:
y = "abc"
print(id(y))   # ID antes
y = y + "d"
print(id(y))

10785632
132795008234048

In [ ]:
tupla = ([1, 2], 3)
tupla[0].append(4)
print(tupla)

([1, 2, 4], 3)

In [ ]:
numeros = set([1, 2, 3, 2, 1])
print(numeros)

In [ ]:
colores = {'rojo', 'verde'}
colores.add('azul')
print(colores)

### Ejercicios

1. Escribe código en python que te permita calcular la suma, resta y producto punto de vectores en $\mathbb{R^3}$, representados como variables tipo lista.

2. Escribe un programa que calcule el determinante de una matriz de 2x2 cualquiera

3. Dado los coeficientes $a$,$b$ y $c$ de una ecuación de segundo grado, esto es, una ecuación de la forma $ax^2 + bx + c = 0$, escribe un programa que calcule las raices. ¿Existe algún tipo que pueda ayudar a modelar números complejos?

## Estructuras de control

In [ ]:
edad = 25

if edad < 18:
    print("Eres menor de edad")
elif edad < 65:
    print("Eres adulto")
else:
    print("Eres adulto mayor")

In [ ]:
contador = 0

while contador < 5:
    print("Contador:", contador)
    contador += 1

In [ ]:
# Imprimir números del 1 al 10 con for
for i in range(1, 11):
    print(i)

In [ ]:
i = 1
suma = 0

while i <= 100:
    suma += i
    i += 1

print("Suma total:", suma)

Suma total: 5050

In [ ]:
# Imprimir números pares del 1 al 20
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for clave, valor in persona.items():
    print(f"{clave}: {valor}")

In [ ]:
colores = ["rojo", "verde", "azul"]

for indice, color in enumerate(colores):
    print(f"Índice {indice}: {color}")

Índice 0: rojo
Índice 1: verde
Índice 2: azul

In [ ]:
n = 0

while True:
    n += 1
    if n == 3:
        print("Saltamos el 3")
        continue
    if n > 5:
        break
    print("n =", n)

n = 1
n = 2
Saltamos el 3
n = 4
n = 5

### Objetos iterables

In [ ]:
frutas = ['manzana', 'banana', 'naranja']

for fruta in frutas:
    print(fruta)

In [ ]:
numeros = [1, 2, 3]
iterador = iter(numeros)

print(next(iterador))  # 1
print(next(iterador))  # 2
print(next(iterador))  # 3

In [ ]:
persona = {'nombre': 'Ana', 'edad': 30}

for clave in persona:
    print(clave, '=>', persona[clave])

In [ ]:
colores = {'rojo', 'verde', 'azul'}

for color in colores:
    print(color)

### Comprensión de listas

In [ ]:
cuadrados = [x**2 for x in range(5)]
print(cuadrados)

In [ ]:
pares = [x for x in range(10) if x % 2 == 0]
print(pares)  # [0, 2, 4, 6, 8]

In [ ]:
palabras = ['hola', 'mundo', 'python']
mayusculas = [p.upper() for p in palabras]
print(mayusculas)

### Ejercicios

1. Escribe código para verificar que un número entero es par o impar.

2. Escribe un código que aproxime el número $\pi$ con $n$ términos utilizando la siguiente serie: $\pi = 4(1-\frac{1}{3} + \frac{1}{5} - \frac{1}{7} + \frac{1}{9} + ...)$

3. Escribe código para saber si una cadena de caracteres es un palíndromo. Realiza el mismo ejercicio para checar si un número es capicúa. Puedes utilizar la función len().

4. Escribe código que verifique si un número $n$ es primo o no.

5. Dado $n \in \mathbb{N}$, imprime todos los números primos del 1 al $n$.