In [59]:
import sqlite3

In [60]:
# Conectar (crea la base de datos si no existe)
conn = sqlite3.connect("mi_base_de_datos.db")
cursor = conn.cursor()

In [ ]:
# Crear cursor
cursor = conn.cursor()

# Crear tabla
cursor.execute("""
CREATE TABLE IF NOT EXISTS empleados (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT NOT NULL,
    edad INTEGER,
    puesto TEXT
)
""")

In [ ]:
# Insertar un registro
cursor.execute("""
INSERT INTO empleados (nombre, edad, puesto)
VALUES (?, ?, ?)
""", ("Juan Pérez", 30, "Desarrollador"))

# Insertar múltiples registros
empleados = [
    ("Ana García", 25, "Diseñadora"),
    ("Luis Gómez", 35, "Gerente"),
    ("Marta Díaz", 28, "Analista")
]
cursor.executemany("""
INSERT INTO empleados (nombre, edad, puesto)
VALUES (?, ?, ?)
""", empleados)

In [ ]:
# Obtener todos los registros
cursor.execute("SELECT * FROM empleados")
todos = cursor.fetchall()
for fila in todos:
    print(fila)

In [ ]:
# Obtener registros con condición
cursor.execute("SELECT nombre, puesto FROM empleados WHERE edad > 30")
mayores_30 = cursor.fetchall()
for fila in mayores_30:
    print(fila)

In [ ]:
cursor.execute("""
UPDATE empleados
SET edad = ?
WHERE nombre = ?
""", (32, "Juan Pérez"))

# Eliminar un empleado
cursor.execute("""
DELETE FROM empleados
WHERE nombre = ?
""", ("Luis Gómez",))

In [66]:
conn.commit()
conn.close()

In [67]:
conn = sqlite3.connect("Chinook_Sqlite.sqlite")
cursor = conn.cursor()

In [ ]:
# Mostrar el esquema (todas las tablas)
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tablas = cursor.fetchall()
print("Tablas:")
for tabla in tablas:
    print("-", tabla[0])

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tablas = cursor.fetchall()

# Obtener el esquema de cada tabla
for (tabla,) in tablas:
    print(f"\nTabla: {tabla}")
    cursor.execute(f"PRAGMA table_info({tabla});")
    columnas = cursor.fetchall()
    for col in columnas:
        cid, name, tipo, notnull, dflt_value, pk = col
        print(f"  - {name} ({tipo}) {'PRIMARY KEY' if pk else ''}")

In [ ]:
cursor.execute('SELECT * FROM Employee')
for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("PRAGMA table_info(Album);")
columnas = cursor.fetchall()
print("\nColumnas de la tabla Album:")
for col in columnas:
    print(col)

In [ ]:
# Seleccionar todos los álbumes de un artista específico
cursor.execute("""
SELECT Title
FROM Album
""")
for fila in cursor.fetchall():
    print(fila)

In [ ]:
# Seleccionar todos los álbumes de un artista específico
cursor.execute("""
SELECT Title
FROM Album
WHERE ArtistId = 1
""")
for fila in cursor.fetchall():
    print(fila)

In [ ]:
cursor.execute("""
SELECT *
FROM Artist;
""")
for fila in cursor.fetchall():
    print(fila)

In [ ]:

# Obtener álbumes con el nombre del artista
cursor.execute("""
SELECT Album.Title, Artist.Name
FROM Album
JOIN Artist ON Album.ArtistId = Artist.ArtistId
LIMIT 5
""")
for fila in cursor.fetchall():
    print(fila)

In [ ]:
cursor.execute("""
SELECT Album.Title, Artist.Name
FROM Album
INNER JOIN Artist ON Album.ArtistId = Artist.ArtistId
LIMIT 10
""")

for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""
SELECT Artist.Name, Album.Title
FROM Artist
LEFT JOIN Album ON Artist.ArtistId = Album.ArtistId
ORDER BY Artist.Name
LIMIT 10
""")

for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("PRAGMA table_info(Genre);")
columnas = cursor.fetchall()
print("\nColumnas de la tabla Album:")
for col in columnas:
    print(col)

In [ ]:
# Contar cuántas pistas tiene cada género
cursor.execute("""
SELECT Genre.Name, COUNT(Track.TrackId) AS NumTracks
FROM Track
JOIN Genre ON Track.GenreId = Genre.GenreId
GROUP BY Genre.Name
ORDER BY NumTracks DESC
""")
for fila in cursor.fetchall():
    print(fila)

In [ ]:
# Mostrar todos los países distintos donde hay clientes, ordenados
cursor.execute("""
SELECT DISTINCT Country
FROM Customer
ORDER BY Country ASC
""")
for fila in cursor.fetchall():
    print(fila[0])

In [ ]:
# Mostrar los primeros 10 clientes
cursor.execute("""
SELECT FirstName, LastName, Country
FROM Customer
LIMIT 10
""")
for fila in cursor.fetchall():
    print(fila)

In [ ]:
# Precio promedio, máximo y mínimo de todas las pistas
cursor.execute("""
SELECT AVG(UnitPrice), MAX(UnitPrice), MIN(UnitPrice)
FROM Track
""")
promedio, maximo, minimo = cursor.fetchone()
print(f"Promedio: {promedio}, Máximo: {maximo}, Mínimo: {minimo}")

In [ ]:
cursor.execute("""
SELECT BillingCountry, COUNT(*) AS NumeroFacturas
FROM Invoice
GROUP BY BillingCountry
ORDER BY NumeroFacturas DESC
""")

for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""
SELECT Country, COUNT(DISTINCT CustomerId) AS TotalClientes
FROM Customer
GROUP BY Country
ORDER BY TotalClientes DESC
""")

for row in cursor.fetchall():
    print(row)

In [ ]:
cursor.execute("""
SELECT CustomerId, COUNT(InvoiceId) as NumCompras
FROM Invoice
GROUP BY CustomerId
HAVING NumCompras > 5
ORDER BY NumCompras DESC
""")
for fila in cursor.fetchall():
    print(fila)

In [ ]:
# Total gastado por cada cliente, ordenado por el que más ha gastado
cursor.execute("""
SELECT 
    Customer.FirstName || ' ' || Customer.LastName AS Cliente,
    Customer.Country,
    SUM(Invoice.Total) AS TotalGastado
FROM Customer
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
GROUP BY Customer.CustomerId
ORDER BY TotalGastado DESC
LIMIT 10
""")
for fila in cursor.fetchall():
    print(fila)

### Orden de ejecución en SQL: From/Join, Where, Groupby, Having, Select, Distinct, Order by, Limit.